@page "/timeentries"
@inject ITimeEntryService TimeEntryService
@implements IDisposable
@inject NavigationManager NavigationManager

<PageTitle>Time Entries</PageTitle>
<h3>Time Entries</h3>

<button class="btn btn-primary mb-2" @onclick="CreateTimeEntry">
    Create Time Entry
</button>

<table>
    <thead>
        <tr>
            <th>Start</th>
            <th>End</th>
            <th>Duration</th>
            <th>Project</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var timeEntry in TimeEntryService.TimeEntries)
        {
            <tr>
                <td>@timeEntry.Start</td>
                <td>@timeEntry.End</td>
                <td>@GetDuration(timeEntry.Start, timeEntry.End)</td>
                <td>@timeEntry.Project.Name</td>
                <td>
                    <button class="btn btn-primary" 
                        onclick="@(() => ShowProject(timeEntry.Project.Id))">
                        Show Project
                    </button>
                </td>
                <td>
                    <button class="btn btn-primary"
                            onclick="@(() => EditTimeEntry(timeEntry.Id))">
                        <i class="oi oi-pencil"></i>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

<ProjectDetails ProjectId=@projectId/>

@code {
    string projectId = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        await TimeEntryService.GetTimeEntryiesByProject(projectId);
        TimeEntryService.OnChange += StateHasChanged;
    }

    private string GetDuration(DateTime? start,  DateTime? end)
    {
        if(start != null && end != null)
        {
            var duration = end.Value - start.Value;
            var result = $"{duration.Hours}h {duration.Minutes}m";
            return result;
        }

        return string.Empty;
    }

    private void ShowProject(string id)
    {
        if (projectId == id)
            return;

        projectId = id;
        StateHasChanged();
    }

    public void Dispose()
    {
        TimeEntryService.OnChange -= StateHasChanged;
    }

    private void CreateTimeEntry()
    {
        NavigationManager.NavigateTo("/timeentry");
    }

    private void EditTimeEntry(string id)
    {
        NavigationManager.NavigateTo($"/timeentry/{id}");

    }
}